//
// IVH5 Library worked example server.policy file.
//
// Om deze settings te wijzigen kun je eventueel gebruik maken van de Java policytool.
// Gebruik: start policytool vanaf de commandline, en open het juiste policy bestand.
//
// Robin Schellius, juli 2014.
//

grant {
	permission java.security.AllPermission;
};

/*
grant 
{
	// Het kan zijn dat je zelf een regel hieronder moet wijzigen om je het juiste IP-adres toe te voegen.
	permission java.net.SocketPermission "145.48.6.147", "accept, connect, resolve";
	permission java.net.SocketPermission "localhost", "listen, accept, connect, resolve";
	permission java.net.SocketPermission "192.168.27.128", "accept, connect, resolve";

	// FilePermission zodat de server toegang tot het XML databestand heeft. 
	// Alleen nodig wanneer de XML DAO datasource gebruikt wordt.
	permission java.io.FilePermission "C:\\dev\\xampp\\htdocs\\classes\\resources\\library.xml", "read";
	permission java.io.FilePermission "C:\\dev\\xampp\\htdocs\\classes\\resources\\library.xsd", "read";
	permission java.io.FilePermission "C:\\development\\java\\IVH5A2 Project\\server\\resources\\breda.properties", "read";
	permission java.io.FilePermission "C:\\development\\java\\IVH5A2 Project\\server\\resources\\breda.logconfig", "read";
	permission java.util.PropertyPermission "user.dir", "read";
	permission java.lang.RuntimePermission "shutdownHooks";
	
	permission java.lang.RuntimePermission "setSecurityManager";
	permission java.lang.RuntimePermission "createSecurityManager";
	permission java.lang.RuntimePermission "usePolicy";
};
*/